name: Release Charts

on:
  push:
    branches:
      - main
    paths:
      - 'deploy/postgresus/**' 
  workflow_dispatch:

jobs:
  release:
    # depending on default permission settings for your org (contents being read-only or read-write for workloads), you will have to add permissions
    # see: https://docs.github.com/en/actions/security-guides/automatic-token-authentication#modifying-the-permissions-for-the-github_token
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Chart | Push
        uses: appany/helm-oci-chart-releaser@v0.5.0
        with:
            name: postgresus
            repository: ${{ github.repository_owner }}
            tag: 1.0.1
            path: deploy/postgresus
            registry: ghcr.io
            registry_username: ${{ github.actor }}
            registry_password: ${{ secrets.GITHUB_TOKEN }}
            update_dependencies: 'true' 