name: Release Charts

on:
  push:
    branches:
      - main
    paths:
      - 'deploy/postgresus/**' 
  workflow_dispatch:

jobs:
  release:
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Chart | Push
        uses: appany/helm-oci-chart-releaser@v0.5.0
        with:
            name: postgresus
            repository: ${{ github.repository_owner }}
            tag: 1.0.2
            path: deploy/postgresus
            registry: ghcr.io
            registry_username: ${{ github.actor }}
            registry_password: ${{ secrets.GITHUB_TOKEN }}
            update_dependencies: 'true' 